<%- include('../layout/adminheader') %>   
    
    <h2 class="page-title">Add a page</h2>
    <a href="admin/pages" class="btn btn-primary">Back to all pages</a>
    <br><br>

    <form method="post" action="/admin/add-page">
        <div class="form-group">
            <label>Title *</label>
            <input type="text" name="title" class="form-control" value="<%- title %>" placeholder="Title">
        </div>
            <label>Link</label>
            <input type="text" name="link" class="form-control" value="<%- link %>" placeholder="Link">
        <div class="form-group">
            <label>Content *</label>
            <textarea name="content" class="form-control" id="ta" cols="30" rows="10" placeholder="Content"></textarea>
        </div>

        <button class="btn btn-default">Kirim</button>

    </form>

    <%- include('../layout/adminfooter') %>